@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'josefin Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* background-color: black; */
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 25px;
    /* overflow-x: hidden; */
    /* background-color: red */
}

.red-span {
    color: red;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    /* color: white; */
}

.nav-menu {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-menu li a {
    font-size: 20px;
    /* color: white; */
    text-decoration: none;
    cursor: pointer;
}

.start-btn {
    /* position: relative; */
    /* color: white; */
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid;
    overflow-x: hidden;
    border-radius: 30px;
}